@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");
:root {
	--color-darkblue: #1b1b32;
	--font-main: "Poppins", sans-serif;
	--font-sub: "Delius", cursive;
}
body {
	font-family: var(--font-main);
	font-size: 1.2rem;
	line-height: 1.4;
}
#base::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.7;
	background: var(--color-darkblue);
	background-image: linear-gradient(115deg, #f8edeb, #d8e2dc),
		url("../images/bg-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
#base {
	position: relative;
	li,
	p {
		font-size: 1.1rem;
	}
}
#brand {
	font-family: var(--font-sub);
	font-weight: 400;
}
#logo {
	height: 4rem;
	width: auto;
}

h1,
header,
h4 {
	text-align: center;
}

h1 {
	font-family: var(--font-sub);
	font-size: 3rem;
	font-weight: 600;
}

header {
	font-size: 2rem;
	font-weight: 550;
}
